<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>
</head>
<body>


<div layout:fragment="content">
    <div class="section"></div>
    <main>
        <center>
            <div class="section"></div>

            <h5 class="indigo-text">Log In</h5>
            <div class="section"></div>

            <div class="container">
                <div class="z-depth-1 grey lighten-4 row"
                     style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                    <form class="col s12" th:action="@{/login}" method="post">
                        <div class='row'>
                            <div class='col s12'>
                            </div>
                        </div>

                        <div class='row'>
                            <div th:if="${param.error}">
                                Invalid Username and Password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>
                            <div th:if="${param.oauth}">
                                That account doesn't exist, you must register or login with your password.
                            </div>
                            <div class='input-field col s12'>
                                <input class='validate' type='text' name='username' id='username'/>
                                <label for='username'>Username or Email</label>
                            </div>
                        </div>

                        <div class='row'>
                            <div class='input-field col s12'>
                                <input class='validate' type='password' name='password' id='password'/>
                                <label for='password'>Password</label>
                            </div>

                        </div>

                        <br/>
                        <center>
                            <div class='row'>
                                <button type='submit' name='btn_login'
                                        class='col s12 btn btn-large waves-effect indigo'>Login
                                </button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
            <div class="row d-flex flex-column align-items-center">
                <a class="loginBtn loginBtn--google" th:href="@{/oauth2/authorization/google}">
                    Login with Google
                </a>
                <a class="mt-1" th:href="@{/register}">Create account</a>
            </div>

        </center>
    </main>
</div>

</body>
</html>