<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"lang="en">
<head>
    <title>Register</title>
</head>
<body>

<div class="container d-flex flex-column align-items-center" layout:fragment="content">
    <script>UPLOADCARE_PUBLIC_KEY = '0f3c66d0f509cc4d8bbd'</script>
    <h5 class="indigo-text">Register</h5>
    <div class="z-depth-1 grey lighten-4 row min75 mt-1" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
    <form class="col s12" id="registerForm" action="#" th:action="@{/register}" method="post" th:object="${user}">
        <th:block th:if="${param.error != null}">
            <div class="center-align red-text" th:text="${param.error}"></div>
        </th:block>
        <!--<div class='row'>-->
            <!--<div class='col s12'>-->
            <!--</div>-->
        <!--</div>-->
        <div class='row'>
            <div class='input-field col s12 m6'>
                <input th:field="*{username}" class='validate' type='text' name='username' id='username' required="" />
                <label for='username'>Username*</label>
            </div>

            <div class='input-field col s12 m6'>
                <input th:field="*{email}" class='validate' type='email' name='email' id='email' required="" />
                <label for='email'>Email*</label>
            </div>
        </div>

        <div class='row'>
            <div class='input-field col s12 m6'>
                <input th:field="*{password}" class='validate' type='password' name='password' id='password' required="" />
                <label for='password'>Password*</label>
            </div>

            <div class='input-field col s12 m6'>
                <input class='validate' type='password' name='passwordVerify' id='passwordVerify' required="" />
                <label for='passwordVerify'>Reenter Password*</label>
            </div>
        </div>

        <div class='row'>
            <div class="input-field col s12 m6">
                <input type="text" class="datepicker" name="birthdayString" id="birthdayString" required="">
                <label for="birthdayString">Birthday*</label>
            </div>
            <div class='input-field col s12 m6'>
                <input th:field="*{phone}" type='tel' name='phone' id='phone' />
                <label for='phone' id="phoneLabel">Phone</label>
            </div>
        </div>

        <div class='row'>
            <div class="input-field col s12">
                <select id="gender" name="genderString" required="">
                    <option value="" disabled selected>Please Select</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="other">Other</option>
                </select>
                <label for="gender">Gender*</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label>Profile Image</label>
                <br />
                <input type="hidden" role="uploadcare-uploader"  data-preview-step="" data-public-key="0f3c66d0f509cc4d8bbd" data-images-only data-crop="1:1" th:name="image" />
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <label for="texts">Receive SMS notifications?</label>
                <div class="switch">
                    <label>
                        No
                        <input type="checkbox" name="texts" id="texts" />
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
            <div class="col s12 m6">
                <label for="texts">Receive Email notifications?</label>
                <div class="switch">
                    <label>
                        No
                        <input type="checkbox" name="emails" id="emails" />
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
        </div>

        <br />
        <div class='row'>
            <button type='submit' id="submitBtn" class='col s12 btn btn-large waves-effect indigo'>Register</button>
        </div>
    </form>
    </div>
    <div class="row d-flex flex-column align-items-center mb-2">
        <form th:action="@{/oauth2/registering}" method="post">
            <input type="hidden" name="provider" value="google" />
            <button type="submit" class="loginBtn loginBtn--google">
                Register with Google
            </button>
        </form>
        <a class="btn-small" th:href="@{/login}">Login</a>
    </div>
    <script th:src="@{/js/uploadcare.full.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/tooltip.min.js}"></script>
    <script th:src="@{/js/register.js}"></script>
</div>

</body>
</html>