<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>${|Edit Post: ${post.title}|}</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <!--<form th:action="@{/posts/{id}/update(id=${post.id})}" th:method="post" th:object="${post}">-->
        <!--Title:-->
        <!--<input th:field="*{title}" />-->
        <!--<br />-->
        <!--Description:-->
        <!--<input th:field="*{body}" />-->
        <!--<br />-->
        <!--<input type="hidden" id="postId" th:value="${post.id}" />-->
        <!--<input type="submit" />-->
        <!--<br />-->
        <!--&lt;!&ndash;<button id="delete-post" class="waves-effect waves-dark btn-small">Delete</button>&ndash;&gt;-->
        <!--<button type="submit">Update</button>-->
    <!--</form>-->
    <div class="row">
        <form class="col s12" th:action="@{|/posts/${post.id}/update|}" th:method="post" th:object="${post}">
            <div class="row">
                <div class="input-field col s12">
                    <input th:field="*{title}" id="title" type="text">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea th:field="*{body}" id="body" class="materialize-textarea"></textarea>
                    <label for="body">Body</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="topics" multiple="" th:field="*{topics}">
                        <!--<th:block th:each="topic : ${selectTopic}">-->
                            <option th:each="topic : ${allTopics}"
                                    th:value="${topic.id}" th:text="${topic.name}"></option>
                        <!--</th:block>-->
                    </select>
                    <label for="topics">Topics</label>
                </div>
            </div>
            <div class='row'>
                <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Update</button>
            </div>
        </form>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var postUpdateSelect = document.querySelectorAll('select');
            var postUpdateSelectInstances = M.FormSelect.init(postUpdateSelect);
        });
    </script>
</div>
</body>
</html>