<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>${|Post: ${post.title}|}</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col s12">
            <h5 th:if="${post.locked}">This post is locked, commenting is disabled.</h5>
            <div class="card blue-grey darken-1">
                <!--title and body-->
                <div class="card-content white-text mb-0 pb-0">
                    <span class="card-title" th:text="${post.title}"></span>
                    <blockquote th:text="${post.body}"></blockquote>
                </div>
                <!--created by and time-->
                <div class="card-content white-text pb-0">
                    <span class="left">by
                            <a class="light-blue-text lighten-4" th:href="@{|/users/${post.user.id}|}"
                               th:text="${post.user.username}"></a>
                            at
                            <th:block th:text="${post.created}"></th:block>
                        </span>
                    <!--<span class="left"><a class="light-blue-text lighten-4" th:href="@{|/users/${post.user.id}|}"-->
                                          <!--th:text="${post.user.username}"></a> </span>-->
                    <!--<span class="right" th:text="'created: '+${post.created}"></span>-->
                </div>
                <!--topics-->
                <div class="card-content white-text pt-0">
                    <label th:if="${post.topics.size() > 0}">Topics:</label>
                    <th:block th:each="topic,i : ${post.topics}">
                        <a class="light-blue-text lighten-4" th:href="@{|/topic/${topic.id}|}"
                           th:text="${topic.name}"></a>
                        <span th:if="${!i.last}">|</span>
                        <!--</th:block>-->
                    </th:block>
                </div>




                <div sec:authorize="isAuthenticated()" th:if="${!post.locked || #authentication.principal.admin}" class="card-action">
                    <th:block th:if="${!post.locked}">
                        <a class="hoverPointer"
                           onclick="(() => {const newComment = document.getElementById('newComment'); newComment.classList.remove('hide')})()">
                            Comment
                        </a>
                        <a class="hoverPointer" th:if="${#authentication.principal.id == post.user.id}" th:href="@{|/posts/${post.id}/update|}">
                            Edit
                        </a>
                        <th:block th:if="${!isFollowing && #authentication.principal.id != post.user.id}">
                            <a class="hoverPointer"
                               onclick="(() => {const form = document.getElementById('followForm'); form.submit()})()">
                                Follow Post
                            </a>
                        </th:block>
                        <th:block th:if="${!post.reported && #authentication.principal.id != post.user.id}">
                            <a class="hoverPointer"
                               onclick="(() => {const form = document.getElementById('reportPostForm'); form.submit()})()">
                                Report
                            </a>
                        </th:block>
                    </th:block>
                    <th:block th:if="${#authentication.principal.id == post.user.id || #authentication.principal.admin}">
                        <a class="hoverPointer" onclick="(() => {const form = document.getElementById('deletePostForm'); form.submit()})()">
                            Delete Post
                        </a>
                    </th:block>
                    <th:block sec:authorize="hasAuthority('ADMIN')">
                        <th:block th:if="${!post.locked}">
                            <a class="hoverPointer" onclick="(() => {const form = document.getElementById('lockPostForm'); form.submit()})()">
                                Lock Post
                            </a>
                        </th:block>
                        <th:block th:if="${post.locked}">
                            <a class="hoverPointer" onclick="(() => {const form = document.getElementById('lockPostForm'); form.submit()})()">
                                Unlock Post
                            </a>
                        </th:block>
                        <th:block th:if="${post.reported}">
                            <a class="hoverPointer" onclick="(() => {const form = document.getElementById('clearReportForm'); form.submit()})()">
                                Clear Report
                            </a>
                        </th:block>
                    </th:block>
                </div>

                <!--<a class='col s12 btn btn-large waves-effect indigo' th:href="@{|/users/${post.user.id}|}">User Profile</a>-->

            </div>
            <th:block sec:authorize="isAuthenticated()">
                <div class="card-panel hide" id="newComment">
                    <form th:action="@{/posts/comment}" method="post" th:object="${comment}">
                        <div class="row">
                            <div class="input-field col s12">
                            <textarea id="comment" name="body" class="materialize-textarea"
                                      data-length="5000"></textarea>
                                <label for="comment">Comment</label>
                            </div>
                        </div>
                        <div class="row m-0">
                            <button class="btn-small waves-effect waves-light col s3 l2" type="submit">Save
                                <i class="material-icons right">save</i>
                            </button>
                        </div>
                        <input type="hidden" th:name="postId" th:value="${post.id}"/>
                        <input type="hidden" th:name="userId" th:value="${#authentication.principal.id}"/>
                    </form>
                </div>
            </th:block>

            <th:block th:each="comment : ${post.comments}">
                <div class="card blue-grey lighten-1 col s11 offset-s1">
                    <div class="card-content white-text p-0">
                        <blockquote th:text="${comment.body}"></blockquote>
                        <span class="left">by
                            <a class="indigo-text darken-4" th:href="@{|/users/${comment.user.id}|}"
                                              th:text="${comment.user.username}"></a>
                            at
                            <th:block th:text="${comment.created}"></th:block>
                        </span>
                        <span class="right" sec:authorize="isAuthenticated()" th:if="${!comment.reported}">
                            <a class="brown-text hoverPointer" onclick="reportComment(this)" th:if="${comment.user.id != #authentication.principal.id}"
                               th:data-target="${comment.id}">
                                report
                            </a>
                            <th:block th:if="${#authentication.principal.id == comment.user.id || #authentication.principal.admin}">
                                <a class="brown-text hoverPointer" th:data-target="${comment.id}" onclick="deleteComment(this)">
                                    delete
                                </a>
                            </th:block>
                        </span>
                        <span class="right" sec:authorize="hasAuthority('ADMIN')">
                            <th:block th:if="${comment.reported}">
                                <a class="brown-text hoverPointer" th:data-target="${comment.id}" onclick="clearReport(this)">
                                    clear report
                                </a>
                            </th:block>
                        </span>
                    </div>
                </div>
            </th:block>


        </div>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <th:block th:if="${!post.reported}">
            <form id="reportPostForm" th:action="@{/posts/report}" method="post">
                <input type="hidden" name="id" th:value="${post.id}">
            </form>
        </th:block>
        <th:block th:if="${!isFollowing}">
            <form id="followForm" th:action="@{/posts/follow}" method="post">
                <input type="hidden" name="id" th:value="${post.id}"/>
            </form>
        </th:block>
        <script>
            function reportComment(elem) {
                const id = elem.dataset.target;
                const input = document.getElementById('reportCommentInput');
                input.value = id;
                const form = document.getElementById('reportCommentForm');
                form.submit();
            }
        </script>
        <form id="reportCommentForm" th:action="@{/posts/comment/report}" method="post">
            <input type="hidden" id="reportCommentInput" th:name="id" />
            <input type="hidden" name="postId" th:value="${post.id}">
        </form>

        <th:block th:if="${#authentication.principal.id == post.user.id || #authentication.principal.admin}">
            <form id="deletePostForm" th:action="@{/posts/delete}" method="post">
                <input type="hidden" th:name="id" th:value="${post.id}" />
            </form>
        </th:block>
    </th:block>
    <th:block sec:authorize="isAuthenticated() || hasAuthority('ADMIN')">
        <script>
            "use strict";
            function deleteComment(elem) {
                const id = elem.dataset.target;
                const input = document.getElementById('deleteCommentInput');
                input.value = id;
                const form = document.getElementById('deleteCommentForm');
                form.submit();
            }
        </script>
        <form id="deleteCommentForm" th:action="@{/posts/comment/delete}" method="post">
            <input type="hidden" id="deleteCommentInput" th:name="id" />
            <input type="hidden" name="postId" th:value="${post.id}">
        </form>
    </th:block>

    <th:block sec:authorize="hasAuthority('ADMIN')">
        <form id="lockPostForm" th:action="@{/posts/lock-toggle}" method="post">
            <input type="hidden" th:name="id" th:value="${post.id}" />
        </form>

        <script>
            "use strict";
            function clearReport(elem) {
                const id = elem.dataset.target;
                const input = document.getElementById('clearCommentInput');
                input.value = id;
                const form = document.getElementById('clearCommentForm');
                form.submit();
            }
        </script>
        <form id="clearCommentForm" th:action="@{/posts/comment/clear}" method="post">
            <input type="hidden" id="clearCommentInput" th:name="id" />
            <input type="hidden" name="postId" th:value="${post.id}">
        </form>
        <form id="clearReportForm" th:action="@{/posts/clear}" method="post">
            <input type="hidden" name="id" th:value="${post.id}">
        </form>
    </th:block>
    <!--<p th:text="${post.}"></p>-->
    <!--title: <p th:text="${post.title}"></p>-->
    <!--created by: <p th:text="${post.user.username}"></p>-->
</div>

</body>
</html>