<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">User Profile</title>

</head>
<body>


<div class="container" layout:fragment="content">

    <h3>User Profile</h3>

    <h4><span th:text="${user.username}"></span></h4>

    <div th:each="post : ${user.posts}">
        <span th:text="${post.title}"></span>
        <span th:text="${post.body}"></span>
    </div>

    <!--<div><span th:each</div>-->


</div>

</body>
</html>