<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <style>
        .tab-font {
            size: 2px !important;
        }
    </style>
    <title>About Our Team</title>
</head>
<body>


<div layout:fragment="content">
    <div class="row">
        <div class="col s12 m4">

            <div class="card blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="https://justin-luoma.github.io/data/JustinLuoma5.png">
                </div>
                <span class="card-title blue-grey-text text-lighten-4">Justin Luoma</span>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#justin-email">
                                <i class="fas fa-at fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#justin-github">
                                <i class="fab fa-github fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#justin-in">
                                <i class="fab fa-linkedin-in fa-lg black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-content blue-grey lighten-4">
                    <a class="aboutFontSize" href="mailto:justinn@justinluoma.com" id="justin-email">justin@justinluoma.com</a>
                    <div class="aboutFontSize" id="justin-github"><a href="https://github.com/justin-luoma">Github</a></div>
                    <div class="aboutFontSize" id="justin-in"><a href="https://www.linkedin.com/in/justin-luoma/">LinkedIn</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/mikePic.jpg"/>
                </div>
                <span class="card-title blue-grey-text text-lighten-4">Michael Waymire</span>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#michael-email">
                                <i class="fas fa-at fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#michael-github">
                                <i class="fab fa-github fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#michael-in">
                                <i class="fab fa-linkedin-in fa-lg black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-content blue-grey lighten-4">
                    <a class="aboutFontSize" href="mailto:mike.waymire2@gmail.com" id="michael-email">mike.waymire2@gmail.com</a>
                    <div class="aboutFontSize" id="michael-github"><a href="https://github.com/MichaelWaymire">Github</a></div>
                    <div class="aboutFontSize" id="michael-in"><a href="https://www.linkedin.com/in/michael-waymire/">LinkedIn</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/danielPic.jpg"/>
                </div>
                <span class="card-title blue-grey-text text-lighten-4">Daniel Browning</span>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#daniel-email">
                                <i class="fas fa-at fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#daniel-github">
                                <i class="fab fa-github fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#daniel-in">
                                <i class="fab fa-linkedin-in fa-lg black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-content blue-grey lighten-4">
                    <a class="aboutFontSize" href="mailto:daniel.d.browning@gmail.com" id="daniel-email">daniel.d.browning@gmail.com</a>
                    <div class="aboutFontSize" id="daniel-github"><a href="https://github.com/daniel-browning">Github</a></div>
                    <div class="aboutFontSize" id="daniel-in"><a href="https://www.linkedin.com/in/daniel-browning/">LinkedIn</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container s12 m3 d-flex">
        <div class="row">
            <div class="card-panel home-title blue-grey darken-4">
                <h6 class="justify-content-center m-0 homeFandC" >
                    What if we told you that the creator may have based the characters from the Hundred Acre Wood on various mental illnesses?
                    Pooh with ADHD, Piglet wih Generalized Anxiety Disorder, Eeyore with Depression, Rabbit with Narcissism, Owl with Dyslexia, and Tigger with Extreme Risk Taking Behaviors.
                    And despite their troubles, the characters always had the support of one another.
                    Our team sought out to create an online community that encompasses much of how the Hundred Acre Wood felt to us as Children: a community for emotional support for all users.
                </h6>
            </div>
        </div>
    </div>
</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const tabs = document.querySelector(".tabs");
		for (let elem of tabs) {
			M.Tabs.init(elem);
		}

	})


</script>
</body>
</html>