<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <style>
        .tab-font {
            size: 2px !important;
        }
    </style>
    <title>About Our Team</title>
</head>
<body>


<div layout:fragment="content">
    <div class="row">
        <div class="col s12 m4">

            <div class="card blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="https://justin-luoma.github.io/data/JustinLuoma5.png">
                </div>
                <span class="card-title blue-grey-text text-lighten-4">Justin Luoma</span>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#justin-email">
                                <i class="fas fa-at fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#justin-github">
                                <i class="fab fa-github fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#justin-in">
                                <i class="fab fa-linkedin-in fa-lg black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-content blue-grey lighten-4">
                    <a href="mailto:justinn@justinluoma.com" id="justin-email">justin@justinluoma.com</a>
                    <div id="justin-github"><a href="https://github.com/justin-luoma">Github</a></div>
                    <div id="justin-in"><a href="https://www.linkedin.com/in/justin-luoma/">LinkedIn</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/mikePic.jpg"/>
                </div>
                <span class="card-title blue-grey-text text-lighten-4">Michael Waymire</span>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#michael-email">
                                <i class="fas fa-at fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#michael-github">
                                <i class="fab fa-github fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#michael-in">
                                <i class="fab fa-linkedin-in fa-lg black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="card-content blue-grey lighten-4">
                    <a href="mailto:mike.waymire2@gmail.com" id="michael-email">mike.waymire2@gmail.com</a>
                    <div id="michael-github"><a href="https://github.com/MichaelWaymire">Github</a></div>
                    <div id="michael-in"><a href="https://www.linkedin.com/in/michael-waymire/">LinkedIn</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/danielPic.jpg"/>
                </div>
                <span class="card-title blue-grey-text text-lighten-4">Daniel Browning</span>
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width">
                        <li class="tab">
                            <a class="active" href="#daniel-email">
                                <i class="fas fa-at fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#daniel-github">
                                <i class="fab fa-github fa-lg black-text"></i>
                            </a>
                        </li>
                        <li class="tab">
                            <a href="#daniel-in">
                                <i class="fab fa-linkedin-in fa-lg black-text"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-content blue-grey lighten-4">
                    <a href="mailto:daniel.d.browning@gmail.com" id="daniel-email">daniel.d.browning@gmail.com</a>
                    <div id="daniel-github"><a href="https://github.com/daniel-browning">Github</a></div>
                    <div id="daniel-in"><a href="https://www.linkedin.com/in/daniel-browning/">LinkedIn</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const tabs = document.querySelector(".tabs");
		for (let elem of tabs) {
			M.Tabs.init(elem);
		}

	})


</script>
</body>
</html>