<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div class="container home" layout:fragment="content">
    <!--<span th:text="${#httpServletRequest.requestURL}"></span>-->
    <!--<div class="parallax">-->
        <!--<img th:src="@{/img/woods.jpg}" alt="forest" />-->
    <!--</div>-->
    <!--<span sec:authorize="isAuthenticated()">-->
                    <!--| Logged user: <span sec:authentication="name"></span> |-->
                    <!--Roles: <span sec:authentication="principal.authorities"></span> |-->
                    <!--admin? : <span sec:authentication="principal.admin"></span>-->
                <!--</span>-->

    <div class="card-panel home-title">
        <h2 class="center-align title-font m-0 h2HomeColor ">Hundred Acre Wood Support</h2>
    </div>
    <div class="container s12 m3 d-flex">
    <div class="row">
    <div class="card-panel home-title">
        <h6 class="justify-content-center title-font m-0 homeFandC" >
            Similar to the Hundred Acre Wood in the stories by Mr. A.A. Milne, we
            sought out to create an online support community for users to express and relate
            to other individuals that may be in need of support. Here in the Hundred Acre
            Wood, we ask that you not bully or attack anyone for their feelings. Always remember, have courage and be kind.
            <blockquote>You can’t stay in your corner of the forest waiting for others to come to you. You have to go to them sometimes. -A.A. Milne</blockquote>
        </h6>
    </div>
    </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const parallax = document.querySelectorAll('.parallax');
            const parallaxInstances = M.Parallax.init(parallax);
        });
    </script>
</div>



</body>
</html>