<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:fragment="head-fragment">
    <meta charset="UTF-8"/>
    <!--google verification-->
    <meta name="google-site-verification" content="rJXprdkjqzy6opsYkmoPqT528ytBh26BffbybK7y2LY" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet" />-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link th:href="@{/css/materialize.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/materialize.min.js}"></script>
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">One Hundred Acre Wood Support Group</title>
    <style th:if="${#httpServletRequest.requestURL == 'http://localhost:8080/' ||
        #httpServletRequest.requestURL == 'http://localhost:8080' ||
        #httpServletRequest.requestURL == 'https://hundredacrewood.support/' ||
        #httpServletRequest.requestURL == 'https://hundredacrewood.support'}">

        main {
            background-image: url("/img/woods.jpg");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper" id="navColor">
        <a th:href="@{/}" class="brand-logo hide-on-large-only hide-on-large-only">
            <img class="avatar logo" th:src="@{/img/logo.png}" />
        </a>
        <a th:href="@{/}" class="brand-logo hide-on-med-and-down left logo-on-large">
            <img class="avatar logo large-only" th:src="@{/img/logo.png}" />
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down mr-auto clear">
            <!--<li><a th:href="@{/}"><h1>Logo</h1></a></li>-->
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/topic}">Topics</a></li>
            <li><a th:href="@{/posts}">Posts</a></li>
            <li><a th:href="@{/resources}">Resources</a></li>
            <th:block sec:authorize="isAuthenticated() && !hasAuthority('ROLE_USER')">
                <li><a th:href="@{/posts/myposts}">My Posts</a></li>
                <li class="hide"><a href="#">Friends</a></li>
                <li><a th:href="@{/posts/create}">Create a Post</a></li>
            </th:block>
        </ul>
        <ul class="right hide-on-med-and-down">
            <th:block sec:authorize="isAuthenticated() && !hasAuthority('ROLE_USER')">
                <li id="logoutButton"><a href="#">Logout</a></li>
                <li><a th:href="@{/profile}">Profile</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin}">Admin</a></li>
                <li><a th:href="@{/messages}">Messages<span class="new badge hide message-badge"></span></a></li>
            </th:block>
            <th:block sec:authorize="!isAuthenticated() || hasAuthority('ROLE_USER')">
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
            </th:block>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/topic}">Topics</a></li>
    <li><a th:href="@{/posts}">Posts</a></li>
    <li><a th:href="@{/resources}">Resources</a></li>
    <th:block sec:authorize="isAuthenticated() && !hasAuthority('ROLE_USER')">
        <li><a th:href="@{/posts/myposts}">My Posts</a></li>
        <li class="hide"><a href="#">Friends</a></li>
        <li><a th:href="@{/posts/create}">Create a Post</a></li>
    </th:block>
    <li><hr/></li>
    <th:block sec:authorize="isAuthenticated() && !hasAuthority('ROLE_USER')">
        <li id="logoutButtonMobile"><a href="#">Logout</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/admin}">Admin</a></li>
        <li><a th:href="@{/messages}">Messages<span class="new badge hide message-badge"></span></a></li>
    </th:block>
    <th:block sec:authorize="!isAuthenticated() || hasAuthority('ROLE_USER')">
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
    </th:block>
</ul>

<main role="main">
    <div layout:fragment="content"></div>
</main>

<footer class="page-footer" id="footerColor" th:fragment="footer">
    <div class="container">
        <div class="row" id="footerRow">
            <div class="col l6 s12">
                <h5 class="white-text">Disclaimer</h5>
                <p class="grey-text text-lighten-4">This is a development project and should be treated as such. Do not enter private or personal information.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li class="layoutLi"><a class="grey-text text-lighten-3" th:href="@{/}">Home</a></li>
                    <li class="layoutLi"><a class="grey-text text-lighten-3" th:href="@{/resources}">Resources</a></li>
                    <li class="layoutLi"><a class="grey-text text-lighten-3" th:href="@{/posts}">Posts</a></li>
                    <li class="layoutLi"><a class="grey-text text-lighten-3" th:href="@{/topic}">Topics</a></li>
                    <li class="layoutLi"><a class="grey-text text-lighten-3" th:href="@{/about}">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" id="bottomFooter">
        <div class="container">
            <p>© 2018 Hundred Acre Wood Support</p>
        </div>
    </div>
</footer>




<form id="logoutForm" th:action="@{/logout}" method="post"></form>


<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/layout.js}"></script>

<script sec:authorize="isAuthenticated() && !hasAuthority('ROLE_USER')" th:src="@{/js/messaging.js}"></script>

<th:block sec:authorize="isAuthenticated() && !hasAuthority('ROLE_USER')" th:replace="messages/sendModal :: messageModal">
</th:block>
</body>
</html>