<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:fragment="head-fragment">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link th:href="@{/css/materialize.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/materialize.min.js}"></script>
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">One Hundred Acre Wood Support Group</title>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a th:href="@{/}" class="brand-logo hide-on-large-only hide-on-large-only">Logo</a>
        <a th:href="@{/}" class="brand-logo hide-on-med-and-down left logo-on-large">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down mr-auto clear">
            <!--<li><a th:href="@{/}"><h1>Logo</h1></a></li>-->
            <li><a th:href="@{/}">Home</a></li>
            <li><a href="#">Topics</a></li>
            <th:block sec:authorize="isAuthenticated()">
                <li><a href="#">My Posts</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Create</a></li>
            </th:block>
        </ul>
        <ul class="right hide-on-med-and-down">
            <th:block sec:authorize="isAuthenticated()">
                <li id="logoutButton"><a href="#">Logout</a></li>
                <li><a href="#">Profile</a></li>
            </th:block>
            <th:block sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
            </th:block>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a th:href="@{/}">Home</a></li>
    <li><a href="#">Topics</a></li>
    <th:block sec:authorize="isAuthenticated()">
        <li><a href="#">My Posts</a></li>
        <li><a href="#">Friends</a></li>
        <li><a href="#">Create</a></li>
    </th:block>
    <li><hr/></li>
    <th:block sec:authorize="isAuthenticated()">
        <li id="logoutButtonMobile"><a href="#">Logout</a></li>
        <li><a href="#">Profile</a></li>
    </th:block>
    <th:block sec:authorize="!isAuthenticated()">
        <li><a th:href="@{/login}">Login</a></li>
        <li><a th:href="@{/register}">Register</a></li>
    </th:block>
</ul>

<main role="main">
    <div layout:fragment="content"></div>
</main>

<footer class="page-footer orange" th:fragment="footer">
    <div class="footer-copyright">
        <div class="container">
            <p>© 2018 Copyright: Justin Luoma</p>
        </div>
    </div>
</footer>




<form id="logoutForm" th:action="@{/logout}" method="post"></form>


<script th:src="@{/js/materialize.min.js}"></script>
<script th:src="@{/js/layout.js}"></script>
</body>
</html>