<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Profile</title>

</head>
<body>


<div class="container" layout:fragment="content">

    <!--User Information-->

    <h4>Profile</h4>

    <img th:if="${user.image != null}" th:src="${user.image}" alt="profile image" class="avatar"/>

    <div><span sec:authentication="name"></span></div>
    <div><span sec:authentication="principal.email"></span></div>
    <div><span sec:authentication="principal.gender"></span></div>
    <div><span sec:authentication="principal.phone"></span></div>
    <div><span sec:authentication="principal.birthday"></span></div>


    <h5>Your Friends</h5>

    <div th:each="friend : ${user.friends}">
        <!--<div th:text="${friend.username}"></div>-->
        <a th:href="@{|/users/${friend.id}|}" th:text="${friend.username}"></a>
    </div>

    <h5>Followed Posts</h5>
    <div class="col s12 m6" th:each="post : ${user.followedPosts}">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span th:text="${post.title}"></span>
                <br/>
                <span th:text="${post.body}"></span>
            </div>
        </div>
    </div>

    <h5>Your Posts</h5>
    <!--<div class="row">-->
    <div th:each="post, i : ${user.posts}">
        <th:block th:if="${i.index <= 2}">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">

                        <span class="card-title" th:text="${post.title}"></span>
                        <span th:text="${post.body}"></span>
                        <br>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
    <!--</div>-->
</div>

</body>
</html>