<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Resources</title>
</head>
<body>

<div class = "container" layout:fragment="content">

    <!--commented out just in case we are able to come back to this api-->
    <!--<div class="row">-->
        <!--<div class="col s12 m12">-->
            <!--<div class="card small grey lighten-3">-->
                <!--<div class="card-image">-->
                    <!--<img src="https://s3-eu-west-1.amazonaws.com/tpd/logos/599cd1c90000ff0005a97763/0x0.png">-->
                <!--</div>-->
                <!--<span class="card-title black-text">API</a></span>-->
                <!--<div class="card-content">-->
                    <!--<p class = "text-black">BetterDoctor</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <h3>Resources</h3>
    <blockquote>A list of Resources for those that need additional assistance</blockquote>

    <div class="row">
        <div class="col s12 m6">
            <div class="card small blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/suicide_prevention.jpg">
                </div>
                <span class="card-title black-text"><a href ="https://suicidepreventionlifeline.org/">Suicide Prevention Lifeline</a></span>
                <div class="card-content">
                    <p class = "grey-text text-lighten-2">Suicide Prevention Hotline 1-800-273-8255</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card small blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/eating_disorder.jpg">
                </div>
                <span class="card-title black-text"><a href ="https://www.nationaleatingdisorders.org/">National Eating Disorders</a></span>
                <div class="card-content">
                    <p class = "grey-text text-lighten-2">Eating Disorder Hotline 1-800-931-2237</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card small blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/addiction_logo.jpg">
                </div>
                <span class="card-title black-text"><a href ="https://www.addictioncenter.com/">Addiction Center</a></span>
                <div class="card-content">
                    <p class = "grey-text text-lighten-2">Addiction Hotline 1-855-826-4464</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card small blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/rain_petal.jpg">
                </div>
                <span class="card-title black-text"><a href ="https://www.rainn.org/about-national-sexual-assault-telephone-hotline">RAINN</a></span>
                <div class="card-content">
                    <p class = "grey-text text-lighten-2">Sexual Assault Hotline 1-800-656-4673</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card small blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/postpartum_depression.jpg">
                </div>
                <span class="card-title black-text"><a href ="https://www.nimh.nih.gov/health/publications/postpartum-depression-facts/index.shtml">Postpartum Depression</a></span>
                <div class="card-content">
                    <p class = "grey-text text-lighten-2">Postpartum Depression Facts</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card small blue-grey darken-4 center-align">
                <div class="card-image">
                    <img src="/img/find_therapist.jpg">
                </div>
                <span class="card-title black-text"><a href ="https://www.psychologytoday.com/us/therapists?utm_source=PT_Psych_Today&utm_medium=House_Link&utm_campaign=PT_HomeTopB_Therapist1">Psychology Today</a></span>
                <div class="card-content">
                    <p class = "grey-text text-lighten-2">Find a Therapist</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>